pipeline/PatientDataIngestion.json
{
	"name": "PatientDataIngestion",
	"properties": {
		"activities": [
			{
				"name": "Copy to Bronze",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "input",
						"type": "DatasetReference",
						"parameters": {
							"trigger_file_name": "@pipeline().parameters.trigger_file_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "bronze",
						"type": "DatasetReference",
						"parameters": {
							"destination": "@pipeline().parameters.destination"
						}
					}
				]
			},
			{
				"name": "CopyFromBronzeToSilver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy to Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/danilavaratyntsev@gmail.com/pipeline/copyFromBronzeToSilver.py",
					"baseParameters": {
						"file_destination": "@pipeline().parameters.destination"
					}
				},
				"linkedServiceName": {
					"referenceName": "databricksClusterLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "copyFromSilverToGold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "CopyFromBronzeToSilver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/danilavaratyntsev@gmail.com/pipeline/copyFromSilverToGold.py",
					"baseParameters": {
						"patient_id": "@string(activity('CopyFromBronzeToSilver').output.runOutput)"
					}
				},
				"linkedServiceName": {
					"referenceName": "databricksClusterLinkedService",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"trigger_file_name": {
				"type": "string"
			},
			"destination": {
				"type": "string"
			}
		},
		"annotations": []
	}
}