data-factory-bigdatad0j7onxslt/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "data-factory-bigdatad0j7onxslt"
		},
		"blobSourceBlobStorageLinkedService_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://sourcebigdatad0j7onxslt.blob.core.windows.net"
		},
		"databricksClusterLinkedService_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0311-160632-6pzbi2qx"
		},
		"datalakeLinkedService_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakebigdatad0j7onxsl.dfs.core.windows.net/"
		},
		"keyVaultLinkedService_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://bigdatad0j7onxslt-kv.vault.azure.net/"
		},
		"storage_trigger_properties_PatientDataIngestion_parameters_trigger_file_name": {
			"type": "string",
			"defaultValue": "@trigger().outputs.body.fileName"
		},
		"storage_trigger_properties_PatientDataIngestion_parameters_destination": {
			"type": "string",
			"defaultValue": "@concat('bronze/patient', '/', formatDateTime(utcnow(), 'yyyy'), '/',formatDateTime(utcnow(),'MM'),'/',formatDateTime(utcnow(),'dd'), '/', trigger().outputs.body.fileName)"
		},
		"storage_trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/7238ec25-9cf3-4bbf-aee2-52eb6c99e14a/resourceGroups/bigdatad0j7onxslt_rg/providers/Microsoft.Storage/storageAccounts/sourcebigdatad0j7onxslt"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PatientDataIngestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy to Bronze",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "input",
								"type": "DatasetReference",
								"parameters": {
									"trigger_file_name": "@pipeline().parameters.trigger_file_name"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "bronze",
								"type": "DatasetReference",
								"parameters": {
									"destination": "@pipeline().parameters.destination"
								}
							}
						]
					},
					{
						"name": "CopyFromBronzeToSilver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy to Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/danilavaratyntsev@gmail.com/pipeline/copyFromBronzeToSilver.py",
							"baseParameters": {
								"file_destination": "@pipeline().parameters.destination"
							}
						},
						"linkedServiceName": {
							"referenceName": "databricksClusterLinkedService",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copyFromSilverToGold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CopyFromBronzeToSilver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/danilavaratyntsev@gmail.com/pipeline/copyFromSilverToGold.py",
							"baseParameters": {
								"patient_id": "@string(activity('CopyFromBronzeToSilver').output.runOutput)"
							}
						},
						"linkedServiceName": {
							"referenceName": "databricksClusterLinkedService",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"trigger_file_name": {
						"type": "string"
					},
					"destination": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/input')]",
				"[concat(variables('factoryId'), '/datasets/bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/databricksClusterLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalakeLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"destination": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().destination",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalakeLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobSourceBlobStorageLinkedService",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"trigger_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().trigger_file_name",
							"type": "Expression"
						},
						"container": "patient-data-source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobSourceBlobStorageLinkedService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobSourceBlobStorageLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('blobSourceBlobStorageLinkedService_properties_typeProperties_serviceEndpoint')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/databricksClusterLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3275608500664602.2.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/7238ec25-9cf3-4bbf-aee2-52eb6c99e14a/resourceGroups/bigdatad0j7onxslt_rg/providers/Microsoft.Databricks/workspaces/databricks-workspace-bigdatad0j7onxslt",
					"existingClusterId": "[parameters('databricksClusterLinkedService_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalakeLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('datalakeLinkedService_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keyVaultLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('keyVaultLinkedService_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/storage_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PatientDataIngestion",
							"type": "PipelineReference"
						},
						"parameters": {
							"trigger_file_name": "[parameters('storage_trigger_properties_PatientDataIngestion_parameters_trigger_file_name')]",
							"destination": "[parameters('storage_trigger_properties_PatientDataIngestion_parameters_destination')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/patient-data-source/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('storage_trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PatientDataIngestion')]"
			]
		}
	]
}